[Unit]
Description=SilencesSheduler
After=syslog.target
After=network.target

[Service]
Type=simple
PIDFile=/opt/silences-sheduler/service.pid
WorkingDirectory=/opt/silences-sheduler/

User=root
Group=root

ExecStart=/opt/silences-sheduler/silences-sheduler
TimeoutSec=20
Restart=always

[Install]
WantedBy=multi-user.target